Deal-Finder_eBay.json
{
  "name": "Daniel_Ebay",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c990a70e-b19b-4474-b6c0-92b501398423",
              "name": "Ebay URL",
              "value": "={{ $json.url }}",
              "type": "string"
            },
            {
              "id": "01ad754c-17c7-493d-84ee-266499afc030",
              "name": "Categories",
              "value": "={{ $json.categories }}",
              "type": "string"
            },
            {
              "id": "32a56f57-4e77-45f1-8e11-8a5af236988b",
              "name": "item number",
              "value": "={{ $json.itemNumber }}",
              "type": "string"
            },
            {
              "id": "366c78d0-b1d8-4537-a2cb-06361eac3262",
              "name": "title",
              "value": "={{ $json.title }}",
              "type": "string"
            },
            {
              "id": "88600edb-aa3e-4758-9d30-2b352dfb5f46",
              "name": "condition",
              "value": "={{ $json.condition }}",
              "type": "string"
            },
            {
              "id": "11104b06-52ce-4e72-acb9-e204244fe55d",
              "name": "lastUpdated",
              "value": "={{ $json.lastUpdated }}",
              "type": "string"
            },
            {
              "id": "bf1f64ed-f5d0-42ef-8c37-b94f7207bed9",
              "name": "price",
              "value": "={{ $json.price }}",
              "type": "string"
            },
            {
              "id": "dab73892-dc05-4b3e-9f95-06a4bb56dcb9",
              "name": "location",
              "value": "={{ $json.itemLocation }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -224,
        112
      ],
      "id": "c82d3af4-bc23-4588-9361-3aa4d0480258",
      "name": "Edit Fields",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 10
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -928,
        112
      ],
      "id": "55c0be86-2ef7-4f90-837b-5e84718903ff",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apify.com/v2/acts/dtrungtin~ebay-items-scraper/run-sync-get-dataset-items?token=YOUR_APIFY_TOKEN",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"maxItems\": 1,\n    \"proxyConfig\": {\n        \"useApifyProxy\": true\n    },\n    \"startUrls\": [\n        {\n            \"url\": \"{{ $json.URLS }}\",\n            \"method\": \"GET\"\n        }\n    ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -576,
        112
      ],
      "id": "8402079b-623b-4bac-9f44-f14a5137b3a7",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "YOUR_SHEET_ID_3",
          "mode": "list",
          "cachedResultName": "Ebay_Urls",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_SHEET_ID_3/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_SHEET_ID_3/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -736,
        112
      ],
      "id": "5d647014-aada-4af8-8783-a900b23f1c3b",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "SET_YOUR_OWN",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "removeItemsSeenInPreviousExecutions",
        "dedupeValue": "={{ $json.itemNumber }}",
        "options": {}
      },
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 2,
      "position": [
        -400,
        112
      ],
      "id": "faf3f1d7-7096-4930-bf7c-97155a0b4d59",
      "name": "Remove Duplicates",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5c4d2c51-8150-4d93-b34a-eb98596ce1d4",
              "leftValue": "={{ $json.title.toLowerCase() }}",
              "rightValue": "yamaha",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "716c8fc0-3364-4ee6-9680-6c4828c4ec09",
              "leftValue": "={{ $json.title.toLowerCase() }}",
              "rightValue": "yz",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        464,
        -192
      ],
      "id": "bbaeb172-92ff-404f-8559-4ea410c3980c",
      "name": "Yamaha"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5c4d2c51-8150-4d93-b34a-eb98596ce1d4",
              "leftValue": "={{ $json.title.toLowerCase() }}",
              "rightValue": "honda",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "716c8fc0-3364-4ee6-9680-6c4828c4ec09",
              "leftValue": "={{ $json.title.toLowerCase() }}",
              "rightValue": "crf",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        448,
        -368
      ],
      "id": "cb98cc21-8809-4bf3-b91f-d42ebf6e270a",
      "name": "honda"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "YOUR_SHEET_ID_2",
          "mode": "list",
          "cachedResultName": "EbayScrap",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_SHEET_ID_2/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1060597275,
          "mode": "list",
          "cachedResultName": "Yamaha",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_SHEET_ID_2/edit#gid=1060597275"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "url": "={{ $json['Ebay URL'] }}",
            "product_title": "={{ $json.title }}",
            "condition": "={{ $json.condition }}",
            "price": "={{ $json.price }}",
            "item no": "={{ $json['item number'] }}",
            "location": "={{ $json.location }}",
            "Last Updated": "={{ $json.lastUpdated }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "url",
              "displayName": "url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "product_title",
              "displayName": "product_title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "condition",
              "displayName": "condition",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "price",
              "displayName": "price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "item no",
              "displayName": "item no",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "location",
              "displayName": "location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Last Updated",
              "displayName": "Last Updated",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        800,
        -208
      ],
      "id": "3d7bcb4e-9b5b-4d16-9cb8-f60c6bfccd3c",
      "name": "yamaha",
      "retryOnFail": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "SET_YOUR_OWN",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5c4d2c51-8150-4d93-b34a-eb98596ce1d4",
              "leftValue": "={{ $json.title.toLowerCase() }}",
              "rightValue": "kawasaki",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "716c8fc0-3364-4ee6-9680-6c4828c4ec09",
              "leftValue": "={{ $json.title.toLowerCase() }}",
              "rightValue": "kx",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        464,
        -16
      ],
      "id": "62a18be5-7680-41a0-b6fc-8df063c9d15b",
      "name": "kawasaki"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "YOUR_SHEET_ID_2",
          "mode": "list",
          "cachedResultName": "EbayScrap",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_SHEET_ID_2/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 2081180497,
          "mode": "list",
          "cachedResultName": "kawasaki",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_SHEET_ID_2/edit#gid=2081180497"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "url": "={{ $json['Ebay URL'] }}",
            "product_title": "={{ $json.title }}",
            "condition": "={{ $json.condition }}",
            "price": "={{ $json.price }}",
            "item no": "={{ $json['item number'] }}",
            "location": "={{ $json.location }}",
            "Last Updated": "={{ $json.lastUpdated }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "url",
              "displayName": "url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "product_title",
              "displayName": "product_title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "condition",
              "displayName": "condition",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "price",
              "displayName": "price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "item no",
              "displayName": "item no",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "location",
              "displayName": "location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Last Updated",
              "displayName": "Last Updated",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        816,
        -32
      ],
      "id": "39524ffc-aa53-4a6d-b4b0-1a16812c461d",
      "name": "kawasaki1",
      "retryOnFail": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "SET_YOUR_OWN",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "YOUR_SHEET_ID_2",
          "mode": "list",
          "cachedResultName": "EbayScrap",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_SHEET_ID_2/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Honda",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_SHEET_ID_2/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "url": "={{ $json['Ebay URL'] }}",
            "product_title": "={{ $json.title }}",
            "condition": "={{ $json.condition }}",
            "price": "={{ $json.price }}",
            "item no": "={{ $json['item number'] }}",
            "location": "={{ $json.location }}",
            "Last Updated": "={{ $json.lastUpdated }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "url",
              "displayName": "url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "product_title",
              "displayName": "product_title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "condition",
              "displayName": "condition",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "price",
              "displayName": "price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "item no",
              "displayName": "item no",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "location",
              "displayName": "location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Last Updated",
              "displayName": "Last Updated",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        784,
        -384
      ],
      "id": "a3f191ed-1d01-4403-b05f-2dc0842f394d",
      "name": "honda2",
      "alwaysOutputData": false,
      "retryOnFail": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "SET_YOUR_OWN",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5c4d2c51-8150-4d93-b34a-eb98596ce1d4",
              "leftValue": "={{ $json.title.toLowerCase() }}",
              "rightValue": "suzuki",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "716c8fc0-3364-4ee6-9680-6c4828c4ec09",
              "leftValue": "={{ $json.title.toLowerCase() }}",
              "rightValue": "rmz",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "a9a6bcc7-8b7c-4072-bdf3-facdf88ed42f",
              "leftValue": "={{ $json.title.toLowerCase() }}",
              "rightValue": "rm",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        464,
        144
      ],
      "id": "ae68d9ee-3d13-486f-a275-93288da522ac",
      "name": "suzuki"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "YOUR_SHEET_ID_2",
          "mode": "list",
          "cachedResultName": "EbayScrap",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_SHEET_ID_2/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1039764988,
          "mode": "list",
          "cachedResultName": "suzuki",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_SHEET_ID_2/edit#gid=1039764988"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "url": "={{ $json['Ebay URL'] }}",
            "product_title": "={{ $json.title }}",
            "condition": "={{ $json.condition }}",
            "price": "={{ $json.price }}",
            "item no": "={{ $json['item number'] }}",
            "location": "={{ $json.location }}",
            "Last Updated": "={{ $json.lastUpdated }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "url",
              "displayName": "url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "product_title",
              "displayName": "product_title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "condition",
              "displayName": "condition",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "price",
              "displayName": "price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "item no",
              "displayName": "item no",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "location",
              "displayName": "location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Last Updated",
              "displayName": "Last Updated",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        832,
        128
      ],
      "id": "f2851362-f7dc-489c-949a-be62e2c868f7",
      "name": "suzuki1",
      "retryOnFail": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "SET_YOUR_OWN",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5c4d2c51-8150-4d93-b34a-eb98596ce1d4",
              "leftValue": "={{ $json.title.toLowerCase() }}",
              "rightValue": "ktm",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        464,
        320
      ],
      "id": "4e011879-d075-444f-b5e3-5a9b4d96fc83",
      "name": "ktm"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "YOUR_SHEET_ID_2",
          "mode": "list",
          "cachedResultName": "EbayScrap",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_SHEET_ID_2/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1683603423,
          "mode": "list",
          "cachedResultName": "KTM",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_SHEET_ID_2/edit#gid=1683603423"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "url": "={{ $json['Ebay URL'] }}",
            "product_title": "={{ $json.title }}",
            "condition": "={{ $json.condition }}",
            "price": "={{ $json.price }}",
            "item no": "={{ $json['item number'] }}",
            "location": "={{ $json.location }}",
            "Last Updated": "={{ $json.lastUpdated }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "url",
              "displayName": "url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "product_title",
              "displayName": "product_title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "condition",
              "displayName": "condition",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "price",
              "displayName": "price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "item no",
              "displayName": "item no",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "location",
              "displayName": "location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Last Updated",
              "displayName": "Last Updated",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        832,
        304
      ],
      "id": "db58a6aa-0523-4b07-bb8e-90ff678bcb22",
      "name": "ktm1",
      "retryOnFail": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "SET_YOUR_OWN",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5c4d2c51-8150-4d93-b34a-eb98596ce1d4",
              "leftValue": "={{ $json.title.toLowerCase() }}",
              "rightValue": "husqvarna",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        464,
        480
      ],
      "id": "83657be3-cd03-4034-8539-d7b88e1428c4",
      "name": "husqvarna"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "YOUR_SHEET_ID_2",
          "mode": "list",
          "cachedResultName": "EbayScrap",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_SHEET_ID_2/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 435192662,
          "mode": "list",
          "cachedResultName": "Huskvarna",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_SHEET_ID_2/edit#gid=435192662"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "url": "={{ $json['Ebay URL'] }}",
            "product_title": "={{ $json.title }}",
            "condition": "={{ $json.condition }}",
            "price": "={{ $json.price }}",
            "item no": "={{ $json['item number'] }}",
            "location": "={{ $json.location }}",
            "Last Updated": "={{ $json.lastUpdated }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "url",
              "displayName": "url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "product_title",
              "displayName": "product_title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "condition",
              "displayName": "condition",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "price",
              "displayName": "price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "item no",
              "displayName": "item no",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "location",
              "displayName": "location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Last Updated",
              "displayName": "Last Updated",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        832,
        464
      ],
      "id": "f3a44764-f927-40f7-810b-7728506e7110",
      "name": "husqvarna1",
      "retryOnFail": true,
      "alwaysOutputData": false,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "SET_YOUR_OWN",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5c4d2c51-8150-4d93-b34a-eb98596ce1d4",
              "leftValue": "={{ $json.title.toLowerCase() }}",
              "rightValue": "gasgas",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "f16feb5f-1ae4-40b6-b1c6-95558a438765",
              "leftValue": "={{ $json.title.toLowerCase() }}",
              "rightValue": "gas",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        496,
        672
      ],
      "id": "f7c7c473-d748-4f9a-8aa8-03b57ac71519",
      "name": "GasGas"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "YOUR_SHEET_ID_2",
          "mode": "list",
          "cachedResultName": "EbayScrap",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_SHEET_ID_2/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 2007906601,
          "mode": "list",
          "cachedResultName": "GasGas",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_SHEET_ID_2/edit#gid=2007906601"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "url": "={{ $json['Ebay URL'] }}",
            "product_title": "={{ $json.title }}",
            "condition": "={{ $json.condition }}",
            "price": "={{ $json.price }}",
            "item no": "={{ $json['item number'] }}",
            "location": "={{ $json.location }}",
            "Last Updated": "={{ $json.lastUpdated }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "url",
              "displayName": "url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "product_title",
              "displayName": "product_title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "condition",
              "displayName": "condition",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "price",
              "displayName": "price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "item no",
              "displayName": "item no",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "location",
              "displayName": "location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Last Updated",
              "displayName": "Last Updated",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        864,
        656
      ],
      "id": "c9d549d6-72f3-45f2-8ac1-976e89abb299",
      "name": "gasgas",
      "retryOnFail": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "SET_YOUR_OWN",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "clear",
        "documentId": {
          "__rl": true,
          "value": "YOUR_SHEET_ID_2",
          "mode": "list",
          "cachedResultName": "EbayScrap",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_SHEET_ID_2/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Honda",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_SHEET_ID_2/edit#gid=0"
        },
        "keepFirstRow": true
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        240,
        -368
      ],
      "id": "a789b95c-4d28-430b-8fb9-3a3345b15094",
      "name": "Clear sheet",
      "alwaysOutputData": true,
      "retryOnFail": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "SET_YOUR_OWN",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "clear",
        "documentId": {
          "__rl": true,
          "value": "YOUR_SHEET_ID_2",
          "mode": "list",
          "cachedResultName": "EbayScrap",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_SHEET_ID_2/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1060597275,
          "mode": "list",
          "cachedResultName": "Yamaha",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_SHEET_ID_2/edit#gid=1060597275"
        },
        "keepFirstRow": true
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        240,
        -192
      ],
      "id": "6513816c-409e-4629-b76a-1f600ecc15a3",
      "name": "Clear sheet1",
      "alwaysOutputData": true,
      "retryOnFail": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "SET_YOUR_OWN",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "clear",
        "documentId": {
          "__rl": true,
          "value": "YOUR_SHEET_ID_2",
          "mode": "list",
          "cachedResultName": "EbayScrap",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_SHEET_ID_2/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 2081180497,
          "mode": "list",
          "cachedResultName": "kawasaki",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_SHEET_ID_2/edit#gid=2081180497"
        },
        "keepFirstRow": true
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        240,
        -16
      ],
      "id": "0f340582-8b93-4afa-98d5-e3cdb292cc67",
      "name": "Clear sheet2",
      "alwaysOutputData": true,
      "retryOnFail": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "SET_YOUR_OWN",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "clear",
        "documentId": {
          "__rl": true,
          "value": "YOUR_SHEET_ID_2",
          "mode": "list",
          "cachedResultName": "EbayScrap",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_SHEET_ID_2/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1039764988,
          "mode": "list",
          "cachedResultName": "suzuki",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_SHEET_ID_2/edit#gid=1039764988"
        },
        "keepFirstRow": true
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        256,
        144
      ],
      "id": "ce089d9e-19e8-4686-a09b-a27d0c5ac9de",
      "name": "Clear sheet3",
      "alwaysOutputData": true,
      "retryOnFail": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "SET_YOUR_OWN",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "clear",
        "documentId": {
          "__rl": true,
          "value": "YOUR_SHEET_ID_2",
          "mode": "list",
          "cachedResultName": "EbayScrap",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_SHEET_ID_2/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1683603423,
          "mode": "list",
          "cachedResultName": "KTM",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_SHEET_ID_2/edit#gid=1683603423"
        },
        "keepFirstRow": true
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        256,
        304
      ],
      "id": "61c99f64-bcea-4731-995c-4a075c6a11b2",
      "name": "Clear sheet4",
      "alwaysOutputData": true,
      "retryOnFail": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "SET_YOUR_OWN",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "clear",
        "documentId": {
          "__rl": true,
          "value": "YOUR_SHEET_ID_2",
          "mode": "list",
          "cachedResultName": "EbayScrap",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_SHEET_ID_2/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 435192662,
          "mode": "list",
          "cachedResultName": "Huskvarna",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_SHEET_ID_2/edit#gid=435192662"
        },
        "keepFirstRow": true
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        272,
        480
      ],
      "id": "65021b18-3915-455f-a6bc-d9186527d1b8",
      "name": "Clear sheet5",
      "alwaysOutputData": true,
      "retryOnFail": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "SET_YOUR_OWN",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "clear",
        "documentId": {
          "__rl": true,
          "value": "YOUR_SHEET_ID_2",
          "mode": "list",
          "cachedResultName": "EbayScrap",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_SHEET_ID_2/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 2007906601,
          "mode": "list",
          "cachedResultName": "GasGas",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_SHEET_ID_2/edit#gid=2007906601"
        },
        "keepFirstRow": true
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        272,
        656
      ],
      "id": "37b15c36-7744-4bbe-8c85-ddc41b45ae8e",
      "name": "Clear sheet6",
      "alwaysOutputData": true,
      "retryOnFail": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "SET_YOUR_OWN",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "client@example.com",
        "subject": "Order",
        "emailType": "text",
        "message": "=URL: {{ $json.url }}\n\nProduct Title: {{ $json.product_title }}\n\nPrice: {{ $json.price }}\n\nLocation: {{ $json.location }}\n\nLast Updated: {{ $json['Last Updated'] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1472,
        16
      ],
      "id": "7173a25c-322b-406e-9151-adf6d8441d0e",
      "name": "Send a message",
      "webhookId": "972d7b4d-2867-49c4-8c2d-f0dbe33a5631",
      "credentials": {
        "gmailOAuth2": {
          "id": "SET_YOUR_OWN",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ba61a12b-a2dc-4544-a890-739fbb11cc08",
              "leftValue": "={{ $('Edit Fields').item.json['item number'] }}",
              "rightValue": "={{ $('Remove Duplicates').item.json.itemNumber }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "ae91d937-09dd-4520-a4c4-0ec7d4e31b93",
              "leftValue": "={{ $('Remove Duplicates').item.json.itemNumber }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1216,
        32
      ],
      "id": "933a87ca-0db0-4fee-b798-c8717198e2df",
      "name": "If3"
    }
  ],
  "pinData": {},
  "connections": {
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Clear sheet",
            "type": "main",
            "index": 0
          },
          {
            "node": "Clear sheet1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Clear sheet2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Clear sheet3",
            "type": "main",
            "index": 0
          },
          {
            "node": "Clear sheet4",
            "type": "main",
            "index": 0
          },
          {
            "node": "Clear sheet5",
            "type": "main",
            "index": 0
          },
          {
            "node": "Clear sheet6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Remove Duplicates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Duplicates": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "honda": {
      "main": [
        [
          {
            "node": "honda2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Yamaha": {
      "main": [
        [
          {
            "node": "yamaha",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "kawasaki": {
      "main": [
        [
          {
            "node": "kawasaki1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "suzuki": {
      "main": [
        [
          {
            "node": "suzuki1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ktm": {
      "main": [
        [
          {
            "node": "ktm1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "husqvarna": {
      "main": [
        [
          {
            "node": "husqvarna1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GasGas": {
      "main": [
        [
          {
            "node": "gasgas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clear sheet": {
      "main": [
        [
          {
            "node": "honda",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clear sheet1": {
      "main": [
        [
          {
            "node": "Yamaha",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clear sheet2": {
      "main": [
        [
          {
            "node": "kawasaki",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clear sheet3": {
      "main": [
        [
          {
            "node": "suzuki",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clear sheet4": {
      "main": [
        [
          {
            "node": "ktm",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clear sheet5": {
      "main": [
        [
          {
            "node": "husqvarna",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clear sheet6": {
      "main": [
        [
          {
            "node": "GasGas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "suzuki1": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "kawasaki1": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ktm1": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "husqvarna1": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "gasgas": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "yamaha": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "honda2": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": false
  }
}